/* Utilities */
/* Base */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: black;
  list-style: none;
}

/* Components */
/* Contenedores Generales */
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
  padding: 10px 50px;
  background-color: rgb(133, 133, 133);
  box-shadow: 0px 1px 10px black;
  z-index: 1;
}
nav a img {
  max-width: 100%;
  max-height: 72px;
}
nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: none;
  width: 60%;
  list-style: none;
  text-shadow: 0px 2px 3px black;
}
nav ul li {
  transition: 0.2s;
}
nav ul li a {
  font-size: 20px;
  font-weight: 400;
  color: white;
  cursor: pointer;
  transition: all 0.2s linear;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #007135;
  margin: auto;
  display: block;
  box-shadow: 0px 2px 5px black;
}
nav ul li a:hover::after {
  width: 90%;
  transition: width 0.2s linear;
}
nav ul li a:hover {
  color: #007135;
  margin-top: 8px;
}
nav ul li a.active::after {
  content: "";
  width: 90%;
  height: 2px;
  background-color: white;
  margin: auto;
  display: block;
  box-shadow: 0px 2px 5px black;
  transition: all 0.2s linear;
}
nav ul li a.active:hover:after {
  background-color: #007135;
}
nav button {
  padding: 5px 10px;
  font-size: 20px;
  font-weight: 500;
  color: white;
  border-radius: 3px;
  border: 1px solid white;
  background-color: #007135;
  cursor: pointer;
  transition: 0.15s;
}
nav button:hover {
  background-color: #005b2a;
}
nav .toggle_btn {
  cursor: pointer;
  display: none;
}
nav .toggle_btn i {
  font-size: 2rem;
  color: white;
}
nav .dropdown_menu {
  position: absolute;
  right: 2rem;
  top: 105px;
  width: 300px;
  height: 0px;
  background: rgba(133, 133, 133, 0.685);
  backdrop-filter: blur(7px);
  border-radius: 10px;
  overflow: hidden;
  display: none;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
nav .dropdown_menu li {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
nav .dropdown_menu li a {
  width: 100%;
  padding: 0.7rem;
  text-align: center;
  font-size: 18px;
  color: white;
}
nav .dropdown_menu li:hover {
  background: rgba(186, 186, 186, 0.316);
}
nav .dropdown_menu .navbarLink.navlog {
  display: flex;
  justify-content: center;
}
nav .dropdown_menu .navbarLink.navlog button {
  width: 89.5%;
}
nav .dropdown_menu.open {
  height: 267px;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(133, 133, 133);
}
footer .Logo {
  width: 200px;
}
footer .informacion ul li {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  gap: 5px;
  color: white;
  text-shadow: 0px 2px 5px black;
  list-style: none;
  text-decoration: none;
}
footer .redes .facebook a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  gap: 5px;
  color: white;
  text-shadow: 0px 2px 5px black;
  list-style: none;
  text-decoration: none;
}
footer .redes .instagram a {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 5px;
  gap: 5px;
  color: white;
  text-shadow: 0px 2px 5px black;
  list-style: none;
  text-decoration: none;
}

/* index.html */
.index-header {
  position: relative;
}
.index-header video {
  position: relative;
  width: 100%;
}
.index-header .capa {
  position: absolute;
  width: 100%;
  height: 99.7%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6901960784);
  opacity: 1;
  mix-blend-mode: soft-light;
}
.index-header .h1bg {
  position: absolute;
  width: 100%;
  bottom: 28%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.313);
}
.index-header .h1bg h1, .index-header .h1bg span {
  color: white;
}
.index-header h1 {
  font-size: 65px;
  font-weight: 800;
}
.index-header span {
  font-size: 40px;
  font-weight: 400;
}

.index-main .section1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: center;
  width: 100%;
  margin: 25px 0px;
  padding: 25px;
  background-color: #f0fdf6;
}
.index-main .section1 article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 80%;
  height: 500px;
}
.index-main .section1 article .artTxt2 div h2, .index-main .section1 article .artTxt1 div h2 {
  font-weight: 600;
  color: white;
}
.index-main .section1 article .artTxt1 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  max-width: 500px;
  height: 250px;
  padding: 20px 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 1px black;
  left: 0;
}
.index-main .section1 article .artTxt1 div {
  width: 100%;
  font-size: 25px;
  padding: 10px 0px;
  background-color: #007135;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}
.index-main .section1 article .artTxt1 p {
  padding: 15px;
}
.index-main .section1 article .artTxt1 .cardButton {
  padding: 2px 10px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: white;
  background-color: #007135;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.index-main .section1 article .artTxt2 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  max-width: 500px;
  height: 250px;
  padding: 20px 30px;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 0px 1px black;
  right: 0;
}
.index-main .section1 article .artTxt2 div {
  width: 100%;
  font-size: 25px;
  padding: 10px 0px;
  background-color: #007135;
  text-align: center;
  border-radius: 5px 5px 0px 0px;
}
.index-main .section1 article .artTxt2 p {
  padding: 15px;
}
.index-main .section1 article .artTxt2 .cardButton {
  padding: 2px 10px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: white;
  background-color: #007135;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
}
.index-main .section1 article .artImg1 {
  position: absolute;
  right: 0;
  width: 80%;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  box-shadow: 0px 0px 1px black;
  right: 0;
  background-image: url("../assets/images/catalogo_hacienda.jpg");
}
.index-main .section1 article .artImg2 {
  position: absolute;
  right: 0;
  width: 80%;
  height: 400px;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  box-shadow: 0px 0px 1px black;
  left: 0;
  background-image: url("../assets/images/proximos_remates.jpg");
}
.index-main .section2 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: none;
  width: 100%;
  margin: 60px 0px;
}
.index-main .section2 article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: none;
  width: 70%;
}
.index-main .section2 article a {
  max-width: 300px;
  margin: 20px;
}
.index-main .section2 article a .selfcard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: none;
  max-width: 300px;
  height: 400px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px black;
  transition: all 160ms ease-in-out;
  overflow: hidden;
}
.index-main .section2 article a .selfcard:hover {
  transform: scale(1.05, 1.05);
}
.index-main .section2 article a .selfcard .cardImg {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: left top;
}
.index-main .section2 article a .selfcard .cardTxt {
  width: 100%;
  height: 40%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.index-main .section3 {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: none;
  margin: 40px 0px;
  gap: 30px;
}
.index-main .section3 article {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: center;
  width: 80%;
  margin: 40px;
  align-items: center;
  gap: 50px 100px;
}
.index-main .section3 article img {
  max-width: 100%;
  max-height: 400px;
  border-radius: 5px;
}
.index-main .section3 article div {
  display: grid;
  gap: 30px;
}
.index-main .section3 article div h2 {
  font-size: 30px;
}

/* catalogoRemate.html */
.catalogoRemate-main .catalogo {
  display: flex;
  margin: 40px 0px;
  justify-content: center;
}
.catalogoRemate-main .catalogo .article1 {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  width: 70%;
}
.catalogoRemate-main .catalogo .article1 a {
  max-width: 300px;
  margin: 20px;
  justify-self: center;
  align-self: center;
}
.catalogoRemate-main .catalogo .article1 a .selfcard {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: none;
  width: 300px;
  height: 350px;
  border-radius: 4px;
  box-shadow: 0px 0px 4px black;
  transition: all 160ms ease-in-out;
  overflow: hidden;
}
.catalogoRemate-main .catalogo .article1 a .selfcard .cardImg {
  width: 100%;
  height: 60%;
  background-size: cover;
  background-position: center;
}
.catalogoRemate-main .catalogo .article1 a .selfcard .cardTxt {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 40%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.catalogoRemate-main .catalogo .article1 a .selfcard .cardTxt h3 {
  font-size: 24px;
}
.catalogoRemate-main .catalogo .article1 a .selfcard .cardTxt p {
  font-size: 18px;
}
.catalogoRemate-main .catalogo .article1 a .selfcard:hover {
  transform: scale(1.02, 1.02);
}
.catalogoRemate-main .catalogo .article1 .l1 {
  background-image: url(../assets/images/lote1.jpg);
}
.catalogoRemate-main .catalogo .article1 .l2 {
  background-image: url(../assets/images/lote2.jpg);
}
.catalogoRemate-main .catalogo .article1 .l3 {
  background-image: url(../assets/images/lote3.jpg);
}
.catalogoRemate-main .catalogo .article1 .l4 {
  background-image: url(../assets/images/lote4.jpg);
}
.catalogoRemate-main .catalogo .article1 .l5 {
  background-image: url(../assets/images/lote5.jpg);
}
.catalogoRemate-main .catalogo .article1 .l6 {
  background-image: url(../assets/images/lote6.jpg);
}

/* nosotros.html */
.nosotros-main .secHist {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: none;
  align-items: center;
}
.nosotros-main .secHist .historiaNos {
  display: flex;
  width: 80%;
  margin: 40px;
  align-items: center;
  gap: 50px 100px;
}
.nosotros-main .secHist .historiaNos div {
  display: grid;
  gap: 10px;
}
.nosotros-main .secHist .historiaNos div h2 {
  font-size: 30px;
}
.nosotros-main .secHist .historiaNos div h3 {
  font-size: 20px;
}

/* cereales.html */
.cereales-main {
  display: grid;
  grid-template: 0.12fr 0.29fr auto/repeat(2, 50%);
  margin: 30px 20px;
  border-radius: 12px;
  overflow: hidden;
}
.cereales-main .cereales_div_h1 {
  grid-column: 1/3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007135;
  border-radius: 12px 12px 0px 0px;
}
.cereales-main .cereales_div_h1 h1 {
  padding: 10px 0px;
  font-size: 48px;
  color: white;
}
.cereales-main .cotizaciones {
  grid-column: 1/span 2;
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  padding: 20px 0px;
}
.cereales-main .cotizaciones iframe {
  width: 320px;
}
.cereales-main .cereales_div {
  display: grid;
  width: 500px;
  height: fit-content;
  margin: 20px;
  grid-template: 1fr 17.7fr/1fr;
  border-radius: 12px;
  align-self: center;
  justify-self: center;
  border: 2px solid #007135;
}
.cereales-main .cereales_div div {
  width: 100%;
  border-radius: 7px 7px 0 0;
  background-color: #007135;
}
.cereales-main .cereales_div h2 {
  width: 100%;
  margin: 7px 0px;
  font-weight: 600;
  color: white;
  text-align: center;
}
.cereales-main .cereales_div_form form {
  align-self: center;
  justify-self: center;
  width: 50%;
  display: grid;
  gap: 5px;
}
.cereales-main .cereales_div_form form label {
  font-weight: 600;
  color: black;
}
.cereales-main .cereales_div_form form input,
.cereales-main .cereales_div_form form textarea {
  width: 100%;
  border: none;
  outline: none;
  padding: 5px 10px;
  font-weight: 500;
  border-bottom: 2px solid black;
}
.cereales-main .cereales_div_form form textarea {
  border: 2px solid black;
}

/* cereales.html */
.login-body {
  height: 100svh;
  display: grid;
  grid-template: auto 80% auto/1fr;
}

.login-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(0deg, #75c198, #f0fdf6);
}
.login-main .login_form {
  display: grid;
  width: 400px;
  margin: 20px;
  grid-template: 50px auto/1fr;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
}
.login-main .login_form .title_div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007135;
}
.login-main .login_form .title_div h1 {
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 600;
  align-self: center;
  justify-self: center;
}
.login-main .login_form form {
  width: 80%;
  align-self: center;
  justify-self: center;
  margin-bottom: 10px;
}
.login-main .login_form form .text_field {
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.login-main .login_form form .text_field input {
  width: 100%;
  height: 40px;
  padding: 0 5px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.login-main .login_form form .text_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: 0.2s;
}
.login-main .login_form form .text_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #007135;
  transition: 0.4s;
}
.login-main .login_form form .text_field input:focus ~ label, .login-main .login_form form .text_field input:valid ~ label {
  top: -5px;
  color: #007135;
}
.login-main .login_form form .text_field input:focus ~ span::before, .login-main .login_form form .text_field input:valid ~ span::before {
  width: 100%;
}
.login-main .login_form form input[type=submit] {
  width: 100%;
  height: 40px;
  cursor: pointer;
  outline: none;
  border: none;
  background: #007135;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  transition: 0.2s;
}
.login-main .login_form form input[type=submit]:hover {
  background: #005b2a;
}
.login-main .login_form .reset_create {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 15px 0px;
  border-top: 2px dashed #007135;
}
.login-main .login_form .reset_create a {
  color: #adadad;
  margin: 15px 0px;
}
.login-main .login_form .reset_create a:hover {
  text-decoration: underline;
}
.login-main .login_form .reset_create p a {
  color: #007135;
  font-weight: 500;
}

/* Media Queries */
@media (max-width: 1457px) {
  /* Clases index.html */
  .index-main .section2 .article1 {
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
  }
  .index-main .section2 .article1 .cardLink {
    align-self: center;
    justify-self: center;
  }
  .index-main .section3 .historia {
    flex-direction: column;
  }
  .index-main .section3 .historia .historiaTxt h2 {
    text-align: center;
  }
  /* Clases catalogoRemate.html */
  .catalogoRemate-main .catalogo .article1 {
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
  }
}
@media (max-width: 1048px) {
  /* Contenedores generales */
  nav {
    gap: 20px;
  }
  nav .navLinks,
  nav button {
    display: none;
  }
  nav .toggle_btn {
    display: block;
  }
  nav .dropdown_menu {
    display: block;
  }
  nav .dropdown_menu button {
    display: block;
  }
  footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  /* Clases index.html */
  .index-header .h1bg h1 {
    font-size: 55px;
  }
  .index-header .h1bg span {
    font-size: 35px;
  }
  /* Clases cereales.html */
  .cereales-main {
    display: flex;
    flex-direction: column;
  }
  .cereales-main .cotizaciones {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
}
@media (max-width: 980px) {
  /* Clases catalogoRemate */
  .catalogoRemate-main .catalogo .article1 {
    grid-template: repeat(2, 1fr)/1fr;
  }
}
@media (max-width: 920px) {
  /* Clases index.html */
  /* Header */
  .index-header .h1bg h1 {
    font-size: 45px;
  }
  .index-header .h1bg span {
    font-size: 30px;
  }
  .index-main .section1 .article {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  .index-main .section1 .article .artImg1,
  .index-main .section1 .article .artImg2 {
    width: 100%;
    top: 0;
  }
  .index-main .section1 .article .artTxt1,
  .index-main .section1 .article .artTxt2 {
    width: 90%;
    height: fit-content;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .index-main .section2 .article1 {
    grid-template: repeat(3, 1fr)/1fr;
  }
  .index-main .section2 .article1 .cardLink {
    width: 80%;
  }
  .index-main .section2 .article1 .cardLink .selfcard {
    width: 100%;
    justify-content: space-between;
  }
  .index-main .section2 .article1 .cardLink .selfcard .cardTxt h3 {
    font-size: 22px;
  }
  .index-main .section2 .article1 .cardLink .selfcard .cardTxt p {
    font-size: 14px;
  }
}
@media (max-width: 850px) {
  /* Clases cereales.html */
  .cereales-main .cereales_div {
    width: 400px;
    height: 512px;
  }
  .cereales-main .cereales_div_form {
    height: 650px;
  }
  .cereales-main .cereales_div_form form {
    width: 80%;
  }
  /* Clases nosotros.html */
  .nosotros-main .secHist {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: none;
    align-items: center;
  }
  .nosotros-main .secHist .historiaNos {
    display: grid;
    grid-template: repeat(2, auto)/1fr;
    align-items: center;
    justify-content: center;
  }
  .nosotros-main .secHist .historiaNos img {
    align-self: center;
    justify-self: center;
  }
}
@media (max-width: 737px) {
  /* Clases index.html */
  .index-header .h1bg h1 {
    font-size: 38px;
  }
  .index-header .h1bg span {
    font-size: 25px;
  }
}
@media (max-width: 615px) {
  /* Clases index.html */
  .index-header .h1bg h1 {
    font-size: 32px;
  }
  .index-header .h1bg span {
    font-size: 22px;
  }
}
@media (max-width: 562px) {
  /* Nav */
  nav {
    padding: 5px 15px;
  }
  nav .dropdown_menu {
    left: 2rem;
    width: unset;
  }
  /* Clases index.html */
  /* Header */
  .index-header .h1bg h1 {
    font-size: 26px;
  }
  .index-header .h1bg span {
    font-size: 17px;
  }
  /* Main */
  /* Section 2 */
  .index-main .section2 .article1 .cardLink {
    width: 250px;
    height: 333px;
  }
  .index-main .section2 .article1 .cardLink .selfcard {
    width: 250px;
    height: 333px;
  }
  .index-main .section2 .article1 .cardLink .selfcard .cardTxt h3 {
    font-size: 16px;
  }
  .index-main .section2 .article1 .cardLink .selfcard .cardTxt p {
    font-size: 12px;
  }
  .index-main .section3 .historia .historiaTxt p {
    font-size: 14px;
  }
  /* Clases cereales.html */
  .cereales-main .cereales_div {
    width: 300px;
    height: 384px;
  }
  .cereales-main .cereales_div_form {
    height: 650px;
  }
}
@media (max-width: 475px) {
  /* Clases cereales.html */
  .login-main .login_form {
    width: 300px;
  }
}
@media (max-width: 414px) {
  /* Clases index.html */
  /* Header */
  .index-header .h1bg h1 {
    font-size: 22px;
  }
  .index-header .h1bg span {
    font-size: 12px;
  }
  /* Section 1 */
  .index-main .section1 .article .artTxt1 p,
  .index-main .section1 .article .artTxt2 p {
    font-size: 14px;
  }
  .index-main .section3 .historia .historiaTxt h2 {
    font-size: 25px;
  }
  .index-main .section3 .historia .historiaTxt p {
    font-size: 12px;
  }
  /* Clases catalogoRemate.html */
  .catalogoRemate-main .catalogo .article1 a {
    max-width: 250px;
    height: 300px;
  }
  .catalogoRemate-main .catalogo .article1 a .selfcard {
    width: 100%;
    height: 300px;
  }
  .catalogoRemate-main .catalogo .article1 a .selfcard .cardTxt {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: start;
    width: 100%;
    height: 40%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .catalogoRemate-main .catalogo .article1 a .selfcard .cardTxt h3 {
    font-size: 20px;
  }
  .catalogoRemate-main .catalogo .article1 a .selfcard .cardTxt p {
    font-size: 15px;
  }
  /* Clases cereales.html */
  .cereales-main .cotizaciones iframe {
    width: 250px;
  }
  .cereales-main .cereales_div_h1 h1 {
    font-size: 38px;
  }
  .cereales-main .cereales_div {
    width: 250px;
  }
}
@media (max-width: 342px) {
  /* Contenedores generales */
  /* Footer */
  footer .informacion ul li {
    font-size: 14px;
  }
  footer .redes .facebook a {
    font-size: 14px;
  }
  footer .redes .instagram a {
    font-size: 14px;
  }
  /* Clases index.html */
  /* Section 1 */
  .index-main .section1 .article .artTxt1 p {
    font-size: 12px;
  }
  .index-main .section1 .article .artTxt2 p {
    font-size: 12px;
  }
  .index-main .section3 .historia .historiaTxt p {
    font-size: 10px;
  }
  /* Clases cereales.html */
  .login-main .login_form {
    width: 280px;
  }
  .login-main .login_form .reset_create a, .login-main .login_form .reset_create p {
    font-size: 13px;
  }
}

/*# sourceMappingURL=style.css.map */
