@media (max-width: 1457px) {

    /* Clases index.html */
    .index-main {
        .section2 {
            .article1 {
                display: grid;
                grid-template: 1fr 1fr / 1fr 1fr;

                .cardLink {
                    align-self: center;
                    justify-self: center;
                }
            }
        }
        .section3 {
            .historia {
                flex-direction: column;
                
                .historiaTxt h2{
                    text-align: center;
                }
            }
        }
    }

    /* Clases catalogoRemate.html */

    .catalogoRemate-main {
        .catalogo {
            .article1 {
                grid-template: repeat(2, 1fr) / repeat(2, 1fr);
            }
        }
    }
    //
}