@media (max-width: 1048px) {

    /* Contenedores generales */

    nav {
        gap: 20px;

        .navLinks,
        button {
            display: none;
        }

        .toggle_btn {
            display: block;
        }

        .dropdown_menu {
            display: block;

            button {
                display: block;
            }
        }
    }
    
    footer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    /* Clases index.html */

    .index-header {
        .h1bg {
            h1 {
                font-size: 55px;
            }

            span {
                font-size: 35px;
            }
        }
    }
    
    /* Clases cereales.html */

    .cereales-main {
        display: flex;
        flex-direction: column;

        .cotizaciones {
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
    }
}