@media (max-width: 342px) {

    /* Contenedores generales */

    /* Footer */
    footer {
        .informacion {
            ul {
                li {
                    font-size: 14px;
                }
            }
        }

        .redes {
            .facebook {
                a {
                    font-size: 14px;
                }
            }

            .instagram {
                a {
                    font-size: 14px;
                }
            }
        }
    }

    /* Clases index.html */
    
    /* Section 1 */

    .index-main {
        .section1 {
            .article {
                .artTxt1 {
                    p {
                        font-size: 12px;
                    }
                }

                .artTxt2 {
                    p {
                        font-size: 12px;
                    }
                }
            }
        }

        .section3 {
            .historia {
                .historiaTxt {
                    p {
                        font-size: 10px;
                    }
                }
            }
        }
    }

    /* Clases cereales.html */

    .login-main {
        .login_form {
            width: 280px;

            .reset_create {
                a, p {
                    font-size: 13px;
                }
            }
        }
    }
}