@media (max-width: 850px) {
    
    /* Clases cereales.html */

    .cereales-main {        
        .cereales_div {
            width: 400px;
            height: 512px;
        }
        
        .cereales_div_form {
            height: 650px;

            form {
                width: 80%;
            }
        }
    }
}