@mixin flex ($direction, $wrap, $justify, $align){
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $align;
}

@mixin grid ( $template, $align, $justify){
    display: grid;
    grid-template: $template;
    align-items: $align;
    justify-content: $justify;
}

@mixin footer-links {
    @include flex(row, nowrap, center, center);
    margin: 5px;
    gap: 5px;
    color: white;
    text-shadow: 0px 2px 5px black;
    list-style: none;
    text-decoration: none;
}

@mixin section1-Txt {
    @include flex(column, nowrap, space-between, center);
    position: absolute;
    max-width: 500px;
    height: 250px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 1px black;
}

@mixin section1-Img {
    position: absolute;
    right: 0;
    width: 80%;
    height: 400px;
    background-size: cover;
    background-position: center;
    border-radius: 4px;
    box-shadow: 0px 0px 1px black;
}

@mixin section1-Txt-div {
    width: 100%;
    font-size: 25px;
    padding: 10px 0px;
    background-color: #007135;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}

@mixin card-Btn {
    padding: 2px 10px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    color: white;
    background-color: #007135;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s;
}