.nosotros-main {
    .secHist {
        @include flex(column, nowrap, none, center);

        .historiaNos {
            display: flex;
            width: 80%;
            margin: 40px;
            align-items: center;
            gap: 50px 100px;

            div {
                display: grid;
                gap: 10px;

                h2 {
                    font-size: 30px;
                }

                h3 {
                    font-size: 20px;
                }
            }
        }
    }
}