footer {
    @include flex(row, nowrap, space-evenly, center);
    padding: 10px 20px;
    justify-content: space-evenly;
    align-items: center;
    background-color: $fondoNav;

    .Logo {
        width: 200px;
    }

    .informacion {
        ul {
            li {
                @include footer-links;
            }
        }
    }

    .redes {
        .facebook {
            a {
                @include footer-links;
            }
        }

        .instagram {
            a {
                @include footer-links;
            }
        }
    }
}