nav {
    @include flex(row, nowrap, space-between, center);
    position: sticky;
    top: 0px;
    padding: 10px 50px;
    background-color: $fondoNav;
    box-shadow: 0px 1px 10px black;
    z-index: 1;

    a {
        img {
            max-width: 100%;
            max-height: 72px;
        }
    }

    ul {
        @include flex(row, nowrap, space-evenly, none);
        width: 60%;
        list-style: none;
        text-shadow: 0px 2px 3px black;

        li {
            transition: .2s;

            a {
                font-size: 20px;
                font-weight: 400;
                color: white;
                cursor: pointer;
                transition: all 0.2s linear;

                &::after {
                    content: "";
                    width: 0;
                    height: 3px;
                    background-color: $verdeGA;
                    margin: auto;
                    display: block;
                    box-shadow: 0px 2px 5px black;
                }

                &:hover::after {
                    width: 90%;
                    transition: width 0.2s linear;
                }

                &:hover {
                    color: $verdeGA;
                    margin-top: 8px;
                }
            }

            a.active {
                
                &::after {
                    content: "";
                    width: 90%;
                    height: 2px;
                    background-color: white;
                    margin: auto;
                    display: block;
                    box-shadow: 0px 2px 5px black;
                    transition: all 0.2s linear;
                }

                &:hover:after {
                    background-color: $verdeGA;
                }
            }
        }
    }

    button {
        padding: 5px 10px;
        font-size: 20px;
        font-weight: 500;
        color: white;
        border-radius: 3px;
        border: 1px solid white;
        background-color: $verdeGA;
        cursor: pointer;
        transition: .15s;

        &:hover {
            background-color: #005b2a;
        }
    }

    .toggle_btn {
        cursor: pointer;
        display: none;
        
        i {
            font-size: 2rem;
            color: white;
        }
    }

    .dropdown_menu {
        position: absolute;
        right: 2rem;
        top: 105px;
        width: 300px;
        height: 0px;
        background: rgba(133, 133, 133, 0.685);
        backdrop-filter: blur(7px);
        border-radius: 10px;
        overflow: hidden;
        display: none;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);

        li {
            width: 100%;
            @include flex (row, nowrap, center, center);
            transition: all .2s;

            a {
                width: 100%;
                padding: 0.7rem;
                text-align: center;
                font-size: 18px;
                color: white;
            }
            
            &:hover {
                background: rgba(186, 186, 186, 0.316);
            }
        }

        .navbarLink.navlog {
            display: flex;
            justify-content: center;

            button {
                width: 89.5%;
            }
        }

    }

    .dropdown_menu.open {
        height: 267px;
    }
}